* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/Luther_Patron_V1.png");
    background-size: 320px;
    transition: .4s ease all;
}

body.dark {
    background-image: url("../img/Luther_Patron_V2.png");
    background-size: 320px;
    transition: .4s ease all;
}

.container {
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }

/*  HEADER */
header {
    width: 100%;
    text-align: center;
}

.link-logo {
margin: auto;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
    opacity: .5;
}

.logo:hover {
    opacity: 1;
}

header nav .menu li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

header nav .menu li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    opacity: .7;
}

header nav .menu li a:hover{
    opacity: 1;
    border-bottom: 1px solid #fff;
}


    .nft-title, .nft-description {
        color: #fff;
    }

    .theme-color {

        background: #efefef;
        width: 60px;
        height: 30px;
        border-radius: 20px;
        border: 0;
        outline: 0;
        cursor: pointer;
        margin-left: 20px;
        transition: background 0.5s;
    }
    
    .theme-color .circle {
        display: block;
        background: #9999;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        margin-left: 2px;
        transition: background 0.5s, margin-left 0.5s;
    }
    
    .actived {
        background: green;
    }
    
    .actived .circle {
        background: #fff;
        margin-left: 31px;
    }
    
    .dark {
        background:#fff
    }
    
    
        .nft-title, .nft-description {
            color: #fff;
        }
    

/* CAROUSEL */
main {
    width: 100%;
}

.carousel-box {
    position: relative;
}

.luther-title {
    text-align: center;
    font-size: 50px;
    color: rgb(243, 243, 243);
    margin-bottom: 20px;
}

.carousel-prev, .carousel-next {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    background: none;
    line-height: 30px;
    text-align: center;
    color: #fff;
    opacity: 20%;
}

.carousel-prev:hover, .carousel-next:hover {
    opacity: 100%;
}

.carousel-prev {
    left: -25px;
}

.fa-chevron-left {
font-size: 50px;
}

.carousel-next {
    right: -25px;
}

.fa-chevron-right {
font-size: 50px;
}

.carousel-list {
    overflow: hidden;
}

.carousel-element {
    text-align: center;
}

.carousel-indicators .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;
    border-radius: 0;
}

.carousel-indicators .glider-dot:hover {
    opacity: .5;
}

.carousel-indicators .glider-dot.active {
    background: #fff;
opacity: 1;
}
/* 
.see-more-box {
    display: flex;
} */

    /* FOOTER */
    footer {
        width: 100%;
        background: #000;
    }

    body.dark footer {
        background: #fff;
    }
    
    /* FAQS */
    .faq-title {
        text-align: center;
        color: green;
        font-size: 40px;
        margin: 20px 0;
    }
    
    .asks {
        width: 500px;
        margin: auto;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .contain-ask {
        background: #fff;
        padding: 20px;
        border: 2px solid transparent;
        border-radius: 10px;
        overflow: hidden;
        transition: .3s ease all;
        cursor: pointer;
    }
    
    .ask {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .ask img {
        width: 14px;
    }
    
    .answer {
        color: #808080;
        line-height: 30px;
        max-height: 0;
        opacity: 0;
        transition: .3s ease all;
    }
    
    .contain-ask.actived .answer{
        opacity: 1;
        margin-top: 20px;
    }
    
    .contain-ask.actived img {
        transform: rotate(45deg);
    }
    
    /* REDES */
    
    .footer-box {
        margin-top: 20px;
    width: 100%;
    display: flex;
    }
    
    .box-luther {
        width: 50%;
    }
    
    .luther-nft {
        font-weight: 300;
        color: #fff;
        margin-bottom: 25px;
    }
    
    .luther-description {
        color: #cecece;
    }
    
    .footer-box-two {
        width: 50%;
        text-align: center;
    }
    
    .us-title {
        font-weight: 300;
        color: #fff;
        margin-bottom: 10px;
    }
    
    .us-list {
        list-style: none;
    }
    
    .us-list li {
        margin-bottom: 15px;
    }
    
    .link-us {
        margin-bottom: 10px;
        text-decoration: none;
        color: #cecece9a;
    
    }
    
    .social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .link-discord {
        color: #7289da;
        font-size: 50px;
        opacity: .5;
    }
    
    .link-discord:hover {
        opacity: 1;
    }
    
    .link-telegram {
        color: #0088cc;
        font-size: 50px;
        opacity: .5;
    }
    .link-telegram:hover {
        opacity: 1;
    }

/* MEDIAQUIERIES */

@media screen and (min-width:800px) {
    header {
        display: flex;
        align-items: center;
    }

    .carousel-element {
        margin-left: 10px;
    }
    
    .carousel-element img {
        border: none;
    }

    .fa-chevron-left, .fa-chevron-right {
        font-size: 30px;
    }

}


@media screen and (min-width:1000px) {
    .container {
        margin: auto;
    }

    header {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 50px 0;
    }

    .link-logo {
        margin-left: 200px;
    }

    .menu {
        margin-right: 100px;
    }
    
    main {
        height: 100vh;
    }

    main .text{
        width: 50%;
        align-self: center;
    }

    main .title-description {
        width: 100%;
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 30px;
}
}