* {
    margin: 0;
    padding: 0;
}

body {
    background: gray;
}

.contenedor {
    width: 1000px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

/* HEADER */

header {
    width: 100%;
    text-align: center;
}

.link-logo {
margin: auto;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
    opacity: .5;
}

.logo:hover {
    opacity: 1;
}

header nav .menu li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

header nav .menu li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    opacity: .7;
}

header nav .menu li a:hover{
    opacity: 1;
    border-bottom: 1px solid #fff;
}

/* MAIN */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.luther-title {
    color: green;
}

    /* FOOTER */
    footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    
    .footer-box {
    width: 50%;
    }
    
    .luther-nft {
        font-weight: 300;
        color: #fff;
        margin-bottom: 25px;
    }
    
    .luther-description {
        color: #cecece;
    }
    
    .footer-box-two {
        width: 50%;
        text-align: center;
    }
    
    .nosotros-title {
        font-weight: 300;
        color: #fff;
        margin-bottom: 10px;
    }
    
    .nosotros-lista {
        list-style: none;
    }
    
    .nosotros-lista li {
        margin-bottom: 15px;
    }
    
    .link-us {
        margin-bottom: 10px;
        text-decoration: none;
        color: #cecece9a;
    
    }
    
    .redes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .link-discord {
        color: #7289da;
        font-size: 50px;
        opacity: .5;
    }
    
    .link-discord:hover {
        opacity: 1;
    }
    
    .link-telegram {
        color: #0088cc;
        font-size: 50px;
        opacity: .5;
    }
    .link-telegram:hover {
        opacity: 1;
    }