* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/Luther_Patron_White.png");
    transition: .4s ease all;
}

body.dark {
    background-image: url("../img/Luther_Patron_Black.png");
}


/* HEADER */

header {
    width: 100%;
    text-align: center;
}

.link-logo {
    margin: auto;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

.logo:hover {
    opacity: .7;
}

header nav .menu li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

header nav .menu li a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    opacity: .7;
}

body.dark nav .menu li a {
    color: #fff;
}

body.dark nav .menu li a:hover {
    border-bottom: 1px solid #fff;
}

header nav .menu li a:hover{
    opacity: 1;
    border-bottom: 1px solid #000;
}

.theme-color {

    background: #efefef;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-left: 20px;
    transition: background 0.5s;
}

.theme-color .circle {
    display: block;
    background: #9999;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}

.active {
    background: green;
}

.active .circle {
    background: #fff;
    margin-left: 31px;
}

.dark {
    background:#fff
}

/* MAIN */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.text {
    width: 100%;
    display: inline-block;
}

.title {
    color: #000;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

body.dark .title {
    color: #fff;
}

.title-description {
    display: inline-block;
    width: 100%;
    color: #000;
    line-height: 25px;
    text-align: center;
}

body.dark .title-description {
    color: #fff;
}

.botons {
    text-align: center;
}

.boton {
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    font-weight: bold;
}


.link-boton {
    text-decoration: none;
    color: #fff;
}

.explore {background: #5126d2; opacity: .7;}
.explore:hover{opacity: 1;}

.sell {margin-left: 20px;background: #000; opacity: .7;} body.dark .sell {background: rgba(255, 255, 255, 0.452);}
.sell:hover {opacity: 1;}

.works-box {
    margin-top: 20px;
}
.works {
    color: #000;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
}

body.dark .works {
    color: #fff;
}



.works-box, .jobs-box {
    margin-bottom: 20px;
    text-align: center;
}

.one {
    margin-left: 30px;
    margin-right: 50px;
}

.two {
    margin-right: 50px;
}

.jobs {
    display: inline-block;
    font-size: 15px;
    color: #000;
}
body.dark .jobs {
    color: #fff;
}

/* IMAGENES (NFTS PRUEBA 1) */

.box-nfts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* PRUEBA DE CAJAS DE NFTS. PRUEBA 1 */
.box-one, .box-two, .box-three, .box-four, .box-five, .box-six, .box-seven {
    width: 187px;
    height: 140px;
    border-radius: 10px;
    margin-bottom: 10px;}

/* LOGOS DE BLOCKCHAIN*/
.blockchain {
    width: 100%;
    text-align: center;
}

.binance {
    width: 200px;
    opacity: .5;
}
.binance:hover {
opacity: 1;
cursor: pointer;
}

.ethereum {
    width: 200px;
    height: 150px;
    text-align: center;
    opacity: .5;
}
.ethereum:hover {
    opacity: 1;
    cursor: pointer;
    }

.open-sea {
    width: 200px;
    opacity: .5;
}
.open-sea:hover {
    opacity: 1;
    cursor: pointer;
    }

/* TIMELINE */
.timeline-title {
    margin-top: 30px;
    font-size: 45px;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    border-radius: 100px;
}

body.dark .timeline-title {
    color: #fff;
    border: 1px solid #fff;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
}

.timeline ul {
    list-style: none;
    margin-top: 30px;
}

.timeline ul li {
    padding: 20px;
    background-color: #cecece;
    border-radius: 10px;
    margin-bottom: 20px;
}

.timeline ul li:last-child {
    margin-bottom: 0;
}

.content h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.line-lutherbox {
    text-align: center;
}

.luther-line {
    width: 200px;
    cursor: pointer;
}

.content .date {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

    /* FOOTER */
footer {
    width: 100%;
    background: #000;
}
body.dark footer {
    background: #fff;
}

/* FAQS */
.faq-title {
    text-align: center;
    color: green;
    font-size: 40px;
    margin: 20px 0;
}

.asks {
    width: 500px;
    margin: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.contain-ask {
    background: #cecece;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease all;
    cursor: pointer;
}

.ask {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ask img {
    width: 14px;
}

.answer {
    color: #808080;
    line-height: 30px;
    max-height: 0;
    opacity: 0;
    transition: .3s ease all;
}

.contain-ask.actived .answer{
    opacity: 1;
    margin-top: 20px;
}

.contain-ask.actived img {
    transform: rotate(45deg);
}

/* REDES */

.footer-box {
margin-top: 20px;
width: 100%;
display: flex;
}

.box-luther {
    width: 50%;
}

.luther-nft {
    font-weight: 300;
    color: #000;
    margin-bottom: 25px;
}

body.dark .luther-nft {
    color: #fff;
}

.luther-description {
    color: #4d4a4a;
}

.footer-box-two {
    width: 50%;
    text-align: center;
}

.us-title {
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
}

body.dark .us-title {
    color: #fff;
}

.us-list {
    list-style: none;
}


.us-list li {
    margin-bottom: 15px;
}

.us-list li a:hover {
    border-bottom: 1px solid #000;
}

body.dark .us-list li a:hover {
    border-bottom: 1px solid #4d4a4a;

}

.link-us {
    margin-bottom: 10px;
    text-decoration: none;
    color: #4d4a4a;
}


.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.link-discord {
    color: #7289da;
    font-size: 50px;
    opacity: .5;
}

.link-discord:hover {
    opacity: 1;
}

.link-telegram {
    color: #0088cc;
    font-size: 50px;
    opacity: .5;
}
.link-telegram:hover {
    opacity: 1;
}

/* MEDIAQUERIES */

/* 403px */
@media screen  and (min-width:403px){
    .binance, .ethereum, .open-sea {
        width: 300px;
    }
}

/* 600px */
@media screen and (min-width:600px) {
    main .description-box {
        text-align: center;
    }
    main .title-description {
        width: 300px;
        max-width: 100%;
    }
    main .works-box, .jobs-box {
        text-align: center;
    }

    main .box-nfts {
        width: 100%;
    }

    .binance, .ethereum, .open-sea {
        width: 400px;
    }



    .timeline::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background: #000;
        transform: translateX(-50%);
        left: 50%;
        top: 84px;
    }

    body.dark .timeline::before {
        background: #fff;
    }

    .timeline ul {
        margin-top: 70px;
    }

    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    

    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }

    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
    }

    
    .timeline ul li:after {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background: #cecece;
        border-radius: 50%;
        top: 0;
    }

    .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -30px;
    }

    .timeline ul li:nth-child(even)::after {
        transform: translate(-50%, -50%);
        left: -30px;
    }

    .timeline ul li:hover::after {
        background: #808080;
        cursor: pointer;
    }

    .content .date {
        position: absolute;
        top: -30px;
    }

    footer .luther-nft {
        text-align: center;
    }
    
    .luther-description {
        margin-left: 50px;
    }
}

/* 804px */
@media screen and (min-width:804px) {
    header {
        display: flex;
        align-items: center;
    }

    main .box-nfts {
        width: 50%;
        margin: auto;
    }

    .binance, .ethereum, .open-sea {
        width: 500px;
    }
}

/* 1000px */
@media screen and (min-width:1000px) {

    header {
        width: 100%;
        align-items: center;
        padding: 50px 0;
    }

    .link-logo {
        position: relative;
        right: 150px;
    }

    .menu {
        margin-right: 100px;
    }
    
    .theme-color {
        margin-right: 200px;
    }

    main .text{
        width: 100%;
        align-self: center;
    }

    main .title-description {
        width: 100%;
    }

    .box-nfts {
        justify-content: center;
    }

    .box-one, .box-two, .box-three, .box-four, .box-five, .box-six, .box-seven {
        width: 100%;
        padding-left: 50px;
    }

    .faq-title {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
}
